<%= form_with(model: instruction, local: true) do |form| %>
  <% if instruction.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(instruction.errors.count, "error") %> prohibited this instruction from being saved:</h4>

      <ul>
      <% instruction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="container">
  <div class="row">
      <div class="col-sm-6">
      <h3 class="text-center">Recipe</h3>
          <div class="fields_with_errors">
            <%= form.label :name %><br>
            <%= form.text_field :name %><br>
            <%= form.label :content %><br>
            <%= form.text_area :content %><br>
            <%= form.label :cook_time %><br>
            <%= form.text_field :cook_time %><br>
            <%= form.hidden_field :user_id, value: current_user.id %>
          </div>
      </div>

      <div class="col-sm-6">
          <h3 class="text-center">Ingredients</h3>
            <div class="fields_with_errors">
                <div class="col-sm-6 checkbox">
                    <%= form.collection_check_boxes(:ingredient_ids, Ingredient.all, :id, :name) %> 
                </div>
            </div>
      </div>    
    </div>

      <div class="row justify-content-center submit-row">
        <div class="fields_with_errors text-center">
              <%= form.submit %>
        </div>
      </div>
  </div>
<% end %>