<%= render 'layouts/form_errors', object: instruction %>
<%= form_for instruction do |form| %>
<div class="container">
  <div class="row">
      <div class="col-sm-4">
      <h3 class="text-center">Recipe</h3>
          <div class="fields">
            <%= form.label :name %><br>
            <%= form.text_field :name, :placeholder => "Name" %><br>
            <%= form.label "Instructions"  %><br>
            <%= form.text_area :content, :placeholder => "Recipe Instructions" %><br>
            <%= form.label :cook_time %><br>
            <%= form.text_field :cook_time, :placeholder => "(ex,. 45 mins)" %><br>
            <%= form.hidden_field :user_id, value: params[:user_id] %>
          </div>
      </div>

       <div class="col-sm-4">
          <h3 class="text-center">New Ingredients</h3>
            <div class="row">
              <div class="col-sm-12">         
                  <label>Name</label>
                  <input type="text" name="instruction[new_ingredients][][name]" style="width: 100px;">
                  <label>Quantity</label>
                  <input type="text" name="instruction[new_ingredients][][quantity]" style="width: 100px;"> <br>
                  <label>Name</label>
                  <input type="text" name="instruction[new_ingredients][][name]" style="width: 100px;">
                  <label>Quantity</label>
                  <input type="text" name="instruction[new_ingredients][][quantity]" style="width: 100px;"> 
                  <label>Name</label>
                  <input type="text" name="instruction[new_ingredients][][name]" style="width: 100px;">
                  <label>Quantity</label>
                  <input type="text" name="instruction[new_ingredients][][quantity]" style="width: 100px;"> 
                  <label>Name</label>
                  <input type="text" name="instruction[new_ingredients][][name]" style="width: 100px;">
                  <label>Quantity</label>
                  <input type="text" name="instruction[new_ingredients][][quantity]" style="width: 100px;"> 
                  <label>Name</label>
                  <input type="text" name="instruction[new_ingredients][][name]" style="width: 100px;">
                  <label>Quantity</label>
                  <input type="text" name="instruction[new_ingredients][][quantity]" style="width: 100px;"> 
                  <label>Name</label>
                  <input type="text" name="instruction[new_ingredients][][name]" style="width: 100px;">
                  <label>Quantity</label>
                  <input type="text" name="instruction[new_ingredients][][quantity]" style="width: 100px;"> 
                </div>
              </div>
       </div>

      <div class="col-sm-4">
          <h3 class="text-center">Ingredients</h3>
            <div class="row">
              <div class="col-sm-12">
                <% Ingredient.all.each do |ing| %>  
                <div class="row">
                  <div class="col-sm-5">    
                    <input type="checkbox" name="instruction[ingredients][][name]" value="<%=ing.id%>"/><%= ing.name %> 
                  </div>
                  <div class="col-sm-7"> 
                    <label>Quantity</label>
                    <input type="text" name="instruction[ingredients][][quantity]" style="width: 100px;"> <br>    
                  </div>
                </div>
                <% end %>
              </div>
            </div>
          </div>

</div>

      <div class="row justify-content-center submit-row">
        <div class="fields text-center">
              <%= form.submit %>
        </div>
      </div>
</div>
<% end %>