<h1 class="text-center">All Recipes</h1>

 <div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-10">
       <div class="recipe">
        <% @instructions.each do |recipe|%>
          <h3>Name: <%= link_to recipe.name, instruction_path(recipe) %></h3>
          <p>Cook Time: <%= recipe.cook_time %></p>
            <div class="ingredients">
              <h4>Ingredients</h4>
              <ol>
              <% recipe.ingredients.all.each do |ing| %>
                <li><p><%= ing.name %></p></li>
              <% end %>
              </ol>
            </div>

          <p>RATING</p>

            <% if policy(recipe).update? %>
            <%= link_to 'Edit', edit_instruction_path(recipe) %>
            <% end %>
            <% if policy(recipe).destroy? %>
            <%= link_to 'Destroy', instruction_path(recipe), method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
            
        <% end %>

      </div>
      </div>

  
  </div>    
</div>

        
     