<h1 class="text-center">All Recipes</h1>
 <div class="container">
  <div class="row justify-content-center">

    <div class="col-sm-8">
        <% @instructions.each do |recipe|%>
        <div class="recipe">
          <h3 class="text-center"><%= link_to recipe.name, instruction_path(recipe) %></h3>
          <p>Cook Time: <%= recipe.cook_time %></p>
            <div class="ingredients">
              <h4>Ingredients</h4>
                <p>
                  <% recipe.ingredients.all.each do |ing| %>
                    <%= ing.name %> | 
                  <% end %>
                </p>
            </div>

          <p>RATING</p>

              <% if policy(recipe).update? %>
                <%= link_to 'Edit', edit_instruction_path(recipe) %>
              <% end %>
              <% if policy(recipe).destroy? %>
                <%= link_to 'Destroy', instruction_path(recipe), method: :delete, data: { confirm: 'Are you sure?' } %>
              <% end %>
           </div> 
        <% end %>
      </div>

      <div class="col-sm-4 query-box">
        <h4>Order the Recipes by:</h4>

        this is where we will break up the lists in orders 

        I want to group by Recipres(instructions) with the most Ingredients, also with the least

        group them by their rating

        <div>
          <h3>Filter Recipes:</h3>
          <%= form_tag("/instructions", method: "get") do %>
            <%= select_tag "query", options_for_select(["Today", "Old Recipes", "Most Ingredients", "Least Ingredients"]), include_blank: true %>
            <%= submit_tag "Filter" %>
          <% end %>
        </div>

      </div>
  
  </div>    
</div>

        
     