<div class="container">
	<div class="row justify-content-center">
		<div class="col-md-6 recipe">
		<h1>Recipe for <%= @instruction.name %></h1>
		<p><%= @instruction.content %></p>
		<p><%= @instruction.cook_time %></p>

		<h6>Ingredients</h6>
		<ol>
			<% @instruction.instruction_ingredients.each do |ing| %>
	            <%= link_to ing.ingredient.name, ingredient_path(ing.ingredient.id) %> | 
	            <%= ing.quantity %><br>
	          <% end %>		
		</ol>

		<p>RATING</p>
		<% if policy(@instruction).update? %>
			<%= link_to 'Edit', edit_user_instruction_path(@instruction.user, @instruction) %>
		<% end %>
		</div>
	</div>
</div>
 
	       
	      