<h1 class="text-center user-title"> All Chefs with Recipes</h1>
<div class="container">
	<div class="row justify-content-center">
		<div class="col-sm-8">
			<h4 class="chefs">Chefs Nicknames</h4>
				<% @users.each do |chef| %>
					<div class="row justify-content-center">
						<div class="col-sm-12 all_list_box text-center">
							<%= link_to chef.nickname, user_path(chef) %>
							<p>Number of Recipes: <%= chef.instructions.count %></p>
						</div>
					</div>
				<% end %>
		</div>

		<div class="col-sm-4 query-box">
			<h4 class="order_by">Order Chefs by:</h4>
		          <%= form_tag("/users", method: "get") do %>
		            <%= select_tag "query", options_for_select(["Alphabetical", "Alphabetical From Z", "Most Recipes", "Least Recipes"]), include_blank: true %>
		            <%= submit_tag "Filter" %>
		          <% end %>
		</div>
	</div>
</div>
