<%= render 'layouts/form_errors', object: ingredient %>
<%= form_for ingredient do |form| %>
  
  <div class="fields">
      <%= form.label :name %><br>
      <%= form.text_field :name %><br><br>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
