<h1 class="text-center">Ingredients</h1>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-8">
      <% @ingredients.each do |ingredient| %>
        <div class="ingredient-box">
          <h5><%= ingredient.name %></h5>
          <p>Used in <%= ingredient.instructions.count %> Recipes</p>
              <%= link_to 'Show', ingredient %>
              <% if policy(ingredient).update? %>
                <%= link_to 'Edit', edit_ingredient_path(ingredient) %>
              <% end %>
              <% if policy(ingredient).destroy? %>
                <%= link_to 'Destroy', ingredient, method: :delete, data: { confirm: 'Are you sure?' } %>
              <% end %> 
        </div>
      <% end %>
    </div>


    <div class="col-sm-4 query-box">
      <h4>Order the Recipes by:</h4>
        <%= form_tag("/ingredients", method: "get") do %>
          <%= select_tag "query", options_for_select(["Alphabetical", "Alphabetical From Z", "Most Recipes", "Least Recipes"]), include_blank: true %>
          <%= submit_tag "Filter" %>
        <% end %>
    </div>

  </div>
</div>
<br>
<div class="row justify-content-center">
  <%= link_to 'New Ingredient', new_ingredient_path, :class => "text-center" %>
</div>
