<h1 class="text-center">Ingredients</h1>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-8">
      <%= render 'show_ingredients', ingredients: @ingredients %>
    </div>

    <div class="col-sm-4 query-box">
      <h3>Order Ingredients by:</h3>
        <%= form_tag("/ingredients", method: "get") do %>
          <%= select_tag "query", options_for_select(["Alphabetical", "Alphabetical From Z", "Most Recipes", "Least Recipes"]), include_blank: true %>
          <%= submit_tag "Filter" %>
        <% end %>
    </div>

  </div>
</div>
<br>
<div class="row justify-content-center">
  <%= link_to 'New Ingredient', new_ingredient_path, :class => "text-center" %>
</div>
