<h1 class="text-center">Ingredients</h1>

    <% @ingredients.each do |ingredient| %>
      <tr>
        <td><%= ingredient.name %></td>
        <td><%= link_to 'Show', ingredient %></td>
       
        <% if policy(ingredient).update? %>
          <td><%= link_to 'Edit', edit_ingredient_path(ingredient) %></td>
        <% end %>
        <% if policy(ingredient).destroy? %>
          <td><%= link_to 'Destroy', ingredient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ingredient', new_ingredient_path %>

