<h1>Recipe home page</h1>

<% if @user.nickname == nil || @user.nickname == "" %>
	<h2>Welcome <%= @user.email %></h2>
<% else %>
	<h2>Welcome <%= @user.nickname %></h2>
<% end %>

<!-- all recipes
 -->
 <h2>All Recipes</h2>
 <div class="recipe">
	<% @instructions.each do |recipe|%>
		<h3>Name: <%= recipe.name %></h3>
		<p>Instructions: <%= recipe.content %></p>
		<p>Cook Time: <%= recipe.cook_time %></p>
		<div class="ingredients">
			<h4>Ingredients</h4>
			<ol>
			<% recipe.ingredients.all.each do |ing| %>
				<li><p><%= ing.name %></p></li>
			<% end %>
			</ol>
		</div>
	<% end %>
</div>

<h2>Your Recipes</h2>
<div class="recipe">
	<% @user.instructions.each do |recipe|%>
		<h3>Name: <%= recipe.name %></h3>
		<p>Instructions: <%= recipe.content %></p>
		<p>Cook Time: <%= recipe.cook_time %></p>
		<div class="ingredients">
			<h4>Ingredients</h4>
			<ol>
			<% recipe.ingredients.all.each do |ing| %>
				<li><p><%= ing.name %></p></li>
			<% end %>
			</ol>
		</div>
	<% end %>
</div>

