<nav class="text-center legend">
  <div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-2">
        <%= link_to 'Chefs', users_path %>
    </div>
    <div class="col-sm-2">
        <%= link_to 'New Recipe', new_user_instruction_path(current_user) %>
    </div>
    <div class="col-sm-2">
        <%= link_to 'All Recipes', instructions_path %>
    </div>
    
    <div class="col-sm-2">
        <%= link_to 'New Ingredients', new_ingredient_path %>
    </div>

     <div class="col-sm-2">
        <%= link_to 'All Ingredients', ingredients_path %>
    </div>

</nav>
